html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #000000;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.navbar-brand{
	height:50px;
	padding:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

.user-avatar {
  height: 22px;
}

#content {
  padding-top: 100px;
  padding-bottom: 25px;
  text-align: center;
}

/* Set the fixed height of the footer here */
#footer {
  height: 75px;
  background-color: #000000;
  vertical-align: bottom;
}

.footer-wrap {
  display: inline;
  text-align: center;
  color:#ffffff;
}

.search-result: {
  background-color: #fff;
}

.song-thumb {
  display: inline;
  height: 50px;
  width: 50px;
  margin-right:10px;
  vertical-align:0.4em;
}

.user-profile-thumb {
  display: inline;
  height: 64px;
  width: 64px;
}

.song-text {
  display: inline-block;
  vertical-align: 1.75em;
  margin-right: 10px;
}

.song-title p {
  color: #ffffff;
  font-weight: 500;
}

.song-artist p {
  color: #ffffff;
  font-weight: 500;
}

.media-controls {
  display: inline;
  vertical-align: 1.75em;
}

.media-controls a {
  color: #ffffff;
}

.song-cards-wrapper {
  max-width: 370px;
  padding: 10px;
  text-align: center;
  background-color: #000000;
  margin: auto;
}

.song-card {
  margin: 0 auto;
  color: #ffffff;
}

.song-card-poster {
  margin-bottom: 10px;
  text-align: left;
  max-width: 400px;
  font-weight: 500;
}
#caption{
	font-style: italic;
	font-size: 16px;
}

.song-card-poster img {
	margin-right: 1em;
}

.song-card-thumb {
  max-width:100%;
  max-height:100%;
}

.volume-slider {
  width: 150px;
  display: inline-block;
}

.glyphicon-pause {
  display: none;
}

.modal-footer {
  color: #ffffff;
  display: inline-block;
  margin-right: 20px;
  border-top: 0px;
}

#rdio-api {
  height: 50px;
  width: 50px;
  background-color: #000000;
  color: #000000;
  position: absolute;
  left: 1px;
  bottom: 1px;
  visibility: hidden;
}

input {
	font-weight: 100;
}
#by{
	font-weight: 100;
	font-style: italic;
}

#or{
  margin-left: 1.75em;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
}


form {
  display: inline;
  text-align: center;
}#nav .loginme a{
    color: #FFFFFF;
    padding-right: 40px;
    padding-top:40px;
}