html,
body {
  height: 100%;
}

/*font*/
font-family: 'Roboto', sans-serif;

.navbar {
  background-color: #000000;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

.user-avatar {
  height: 22px;
}

#content {
  padding-top: 60px;
  text-align: center;
}

/* Set the fixed height of the footer here */
#footer {
  height: 100px;
  background-color: #000000;
}

.footer-wrap {
  display: inline;
  text-align: center;
}

.song-thumb {
  display: inline;
  height: 50px;
  width: 50px;
}

.song-text {
  display: inline;
}

.song-title {
  color: #ffffff;
}

.song-artist {
  color: #ffffff;
}

.media-controls {
  display: inline;
}
.song-card {
  max-width: 960px;
  margin: 0 auto;
}

.song-card-poster {
  margin-bottom: 10px;
}

.song-card-thumb {
  max-width:100%;
  max-height:100%;
}

.volume-slider {
  width: 150px;
}
