html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #d4d7d7;
}

.navbar {
  background-color: #4c5b67;
  min-height: 50px;
  margin-bottom: 0px;
  border-bottom: 2px solid #444444;
  display: inline;
}
.navbar-form {
  margin-top: 20px;
  padding-left: 1em;
}
.navbar-brand{
height: 70px;
    margin-top: 5px;
    padding: 0;
}
.navbar-nav.navbar-right:last-child {
margin-top: 5px;
}


#collumns {
  width: 100%;
  text-align: center;
}

#left {
  width: 33%;
  height: 200%;
  background-color: #444444;
  padding-bottom: 3em;
  padding-top: 1em;
  display: inline;
  margin-bottom: 20px;
}

#middle {
  width: 40%;
  background-color:#BFBFBF;
	-webkit-box-shadow: 0 0 5px#888 inset;
	box-shadow: 0 0 5px #888 inset;
	padding-top: 30px;
margin-top: -25px;
margin-bottom:-50px;
}

#right {
  width: 33%;
  background-color: #444444;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

.user-avatar {
  height: 22px;
}

#people-search {
  width: 250px;
}

#content {
  padding-top: 100px;
  padding-bottom: 25px;
  text-align: center;
}

/* Set the fixed height of the footer here */
#footer {
  height: 75px;
  background-color: #4c5b67;
  vertical-align: bottom;
}

.footer-wrap {
  display: inline;
  text-align: center;
  color:#ffffff;
}

#song-search,
.tt-hint {
  width: 558px;
  height: 30px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 30px;
  outline: none;
}

#song-search {
  background-color: #fff;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 558px;
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 18px;
}

.tt-suggestion + .tt-suggestion {
  font-size: 14px;
  border-top: 1px solid #ccc;
}

.tt-suggestion.tt-is-under-cursor {
  color: #03739c;
}

.song-thumb {
  display: inline;
  height: 50px;
  width: 50px;
  margin-left: 5em;
  margin-right:10px;
  margin-bottom: 12.5px;
}

.user-profile-thumb {
  display: inline;
  height: 64px;
  width: 64px;
}

.song-text {
  display: inline-block;
  margin-top: 15px;
  margin-right: 10px;
}

.song-title p {
  color: #ffffff;
  font-weight: 500;
}

.song-artist p {
  color: #ffffff;
  font-weight: 500;
}

.media-controls {
  display: inline;
  text-align: right;
  margin-bottom: 20px;
  margin-right: 5em;
}

.media-controls a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 5px;
}

.song-cards-wrapper {
  display: inline-block;
  max-width: 370px;
  padding: 0 10px 10px 10px;
  text-align: center;
  margin: 0px auto;
}

.song-card {
  margin: 0 auto ;
  color: #ffffff;
  background-color: #000000;
  padding:10px;
  position: relative;
  border-radius: 7px;
}

.song-card-poster {
  margin-bottom: 10px;
  text-align: left;
  max-width: 400px;
  font-weight: 500;
}
#caption{
  font-style: italic;
  font-size: 16px;
}

.song-card-poster img {
  margin-right: 1em;
  border: 1px solid #777;
}

.song-card-thumb {
  max-width:100%;
  max-height:100%;
  margin-bottom:10px;
  border: 2px solid #999999;
}

#post-song {
  margin-bottom: 20px;
  text-align: center;
}

.song-card-date {
  position: absolute;
  right: 10px;
  top: 32px;
}

.volume-slider {
  margin-left: 10px;
  width: 160px;
  height: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.glyphicon-pause {
  display: none;
}

.modal-footer {
  color: #ffffff;
  display: inline-block;
  margin-right: 20px;
  border-top: 0px;
}

#rdio-api {
  height: 50px;
  width: 50px;
  background-color: #000000;
  color: #000000;
  position: absolute;
  left: 1px;
  bottom: 1px;
  visibility: hidden;
}

input {
  font-weight: 100;
}

#by{
  font-weight: 100;
  font-style: italic;
}

#or{
  margin-left: 1.0em;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
}

form {
  display: inline;
  text-align: left;
}

#nav .loginme a{
    color: #FFFFFF;
    margin-right: 18px;
    margin-top:40px;
}

.loginme {
  color: #ffffff;
}

#postsong {
  padding-left:.5em;
}
#description {
  max-width:100%;
}
.modal-footer{
  width:100%;
}
.space{
  height:30px;
}

.dropdown-menu {
  margin-right: 18px;
  background-color: #000000;
}

a.dropdown-toggle {
  margin-right: 18px;
  background-color: transparent;
  color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #000000;
  color: #ffffff;
  text-align: right;
}


ul .login-logout {
  text-align: left;
  background-color: #000000;
  color: #ffffff;
  text-align: right;
}

li {
  display: list-item;
  text-align: center;
  color: #ffffff;
}

li.dropdown.open, li.dropdown > .open > a:hover {
  background-color: #000000;
  color: #ffffff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #000000;
  color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #000000;
  color: #ffffff;
}

a {
  color: #ffffff;

}

a:hover {
  color: #cccccc;  
}

.user-avatar {
height: 40px;
margin-right: 5px;
border: 1px solid #777;
}
.song-card-date{
	font-weight:100;
	font-style:italic;
}

.ui-slider-horizontal .ui-slider-handle {
top: -.5em;
margin-left: -.6em;
}

.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 10px;
height: 20px;
cursor: default;
margin-top: 2px;
margin-right: .5px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #4c5b67;
}
	