html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #000000;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.navbar-brand{
height: 70px;
    margin-top: 5px;
    padding: 0;
}


#collumns {
  width: 100%;
  text-align: center;
}

#left {
  width: 33%;
  height: 200%;
  background-color: #444444;
  padding-bottom: 3em;
  padding-top: 2em;
  display: inline;
  margin-bottom: 20px;
}

#middle {
  width: 34%;
}

#right {
  width: 33%;
  background-color: #444444;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

.user-avatar {
  height: 22px;
}

#content {
  padding-top: 100px;
  padding-bottom: 25px;
  text-align: center;
}

/* Set the fixed height of the footer here */
#footer {
  height: 75px;
  background-color: #000000;
  vertical-align: bottom;
}

.footer-wrap {
  display: inline;
  text-align: center;
  color:#ffffff;
}

.tt-dropdown-menu {
  background-color: #fff;
  border: 1px solid #000;
}

.tt-suggestion.tt-is-under-cursor {
  background-color: #ccc;
}

.song-thumb {
  display: inline;
  height: 50px;
  width: 50px;
  margin-left: 5em;
  margin-right:10px;
  margin-bottom: 12.5px;
}

.user-profile-thumb {
  display: inline;
  height: 64px;
  width: 64px;
}

.song-text {
  display: inline-block;
  margin-top: 15px;
  margin-right: 10px;
}

.song-title p {
  color: #ffffff;
  font-weight: 500;
}

.song-artist p {
  color: #ffffff;
  font-weight: 500;
}

.media-controls {
  display: inline;
  text-align: right;
  margin-bottom: 20px;
  margin-right: 5em;
}

.media-controls a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 5px;
}

.song-cards-wrapper {
  display: inline-block;
  max-width: 370px;
  padding: 0 10px 10px 10px;
  text-align: center;
  margin: 0px auto;
}

.song-card {
  margin: 0 auto ;
  color: #ffffff;
    background-color: #000000;
	padding:10px;
}

.song-card-poster {
  margin-bottom: 10px;
  text-align: left;
  max-width: 400px;
  font-weight: 500;
}
#caption{
	font-style: italic;
	font-size: 16px;
}

.song-card-poster img {
	margin-right: 1em;
}

.song-card-thumb {
  max-width:100%;
  max-height:100%;
  margin-bottom:10px;
}

#post-song {
  margin-bottom: 20px;
  text-align: center;
}

.volume-slider {
  margin-left: 10px;
  width: 150px;
  display: inline-block;
}

.glyphicon-pause {
  display: none;
}

.modal-footer {
  color: #ffffff;
  display: inline-block;
  margin-right: 20px;
  border-top: 0px;
}

#rdio-api {
  height: 50px;
  width: 50px;
  background-color: #000000;
  color: #000000;
  position: absolute;
  left: 1px;
  bottom: 1px;
  visibility: hidden;
}

input {
	font-weight: 100;
}

#by{
	font-weight: 100;
	font-style: italic;
}

#or{
  margin-left: 1.75em;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
}

form {
  display: inline;
  text-align: left;
}

#nav .loginme a{
    color: #FFFFFF;
    margin-right: 40px;
    margin-top:40px;
}

#postsong {
  padding-left:15px;
}
#description {
	max-width:100%;
}
.modal-footer{
	width:100%;
}
.space{
	height:30px;
	background-color:#ffffff;
}

.dropdown-menu {
  margin-right: 40px;
  background-color: #000000;
}

a.dropdown-toggle {
  margin-right: 40px;
  background-color: #000000;
  color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #000000;
  color: #ffffff;
  text-align: right;
}


ul .login-logout {
  text-align: left;
  background-color: #000000;
  color: #ffffff;
  text-align: right;
}

li {
  display: list-item;
  text-align: center;
  color: #ffffff;
}

li.dropdown.open, li.dropdown > .open > a:hover {
  background-color: #000000;
  color: #ffffff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #000000;
  color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #000000;
  color: #ffffff;
}

a {
  color: #ffffff;

}

a:hover {
  color: #cccccc;  
}

.user-avatar {
	background-color: #777777;
height: 40px;
margin-right: 5px;
padding: 2px;
}